<div class="content-popup">
    <form name="addBook" ng-submit="newBook()">
        <div class="row">
            <div class="col-xm-12 col-sm-6 col-md-6 col-lg-6">
                <label class="form-label">Serial Number</label>
                <input ng-model="book.serial_no" type="text" class="form-control text-normal" placeholder="Serial Number" required/>
            </div>
            <div class="col-xm-12 col-sm-6 col-md-6 col-lg-6">
                <label class="form-label">Title</label>
                <input ng-model="book.title" type="text" class="form-control text-normal" placeholder="Title" required/>
            </div>
        </div>
        <div class="row">
            <div class="col-xm-12 col-sm-6 col-md-6 col-lg-6">
                <label class="form-label">Author</label>
                <input ng-model="book.author" type="text" class="form-control text-normal" placeholder="Author" required/>
            </div>
            <div class="col-xm-12 col-sm-6 col-md-6 col-lg-6">
                <label class="form-label">Description</label>
                <input ng-model="book.description" type="text" class="form-control text-normal" placeholder="Description" required/>
            </div>
        </div>
        <div class="row">
            <div class="col-xm-12 col-sm-6 col-md-6 col-lg-6">
                <label class="form-label">Price ($)</label>
                <input ng-model="book.price" step="0.01" min="0" type="number" class="form-control text-normal" placeholder="Price" required/>
            </div>
            <div class="col-xm-12 col-sm-6 col-md-6 col-lg-6">
                <label class="form-label">Printed date</label>
                <input ng-model="printed_date" type="date" class="form-control text-normal" placeholder="Printed-Date" required/>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <button class="btn btn-primary right addbtn">Add book</button>
            </div>
        </div>
    </form>
</div>