<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <button class="btn btn-default right signout" ng-click="signOut()">Sign out</button>
    </div>
</div>
<div class="row">
    <!-- side nav -->
    <div id="test1" class="col-xm-12 col-sm-2 col-md-3 col-lg-2 side-nav">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" class="active"><a href="">Books</a></li>
        </ul>
    </div>
    <!-- book content -->
    <div id="test2" class="col-xm-12 col-sm-10 col-md-9 col-lg-10 main-content">
        <div class="book">
            <!-- Header -->
            <div class="row">
                <div class="col-xm-12 col-sm-8 col-md-8 col-lg-8 content-title">
                    <h2>Books</h2>
                </div>
                <div class="col-xm-12 col-sm-4 col-md-4 col-lg-4 new-book">
                    <button class="btn btn-primary" ng-click="showAddBookDialog()">+New Book</button>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 table-responsive content-table">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Serial No</th>
                                <th>Title</th>
                                <th>Author</th>
                                <th>Description</th>
                                <th>Price ($)</th>
                                <th>Printed date</th>
                                <th>Date added</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key, book) in books">
                                <td>{{book.serial_no}}</td>
                                <td>{{book.title}}</td>
                                <td>{{book.author}}</td>
                                <td>{{book.description}}</td>
                                <td>${{book.price | number:2}}</td>
                                <td>{{book.printed_date | date:'dd/MM/yyyy'}}</td>
                                <td>{{book.timestamp | date:'dd/MM/yyyy'}}</td>
                                <td><span class="glyphicon glyphicon-trash" aria-hidden="true" ng-click="removeBook(key)"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>