<!-- login box centered -->
<div class="center-block box-center">
  <h3>Demo Library</h3>
  <!-- username and password fields -->
  <div class="row">
      <form name="loginForm" ng-submit="login(loginForm)">
          <div class="input-group">
              <span class="input-group-addon" id="basic-addon1"></span>
              <input type="email" name="username" class="form-control" ng-model="user.username" placeholder="Username" aria-describedby="basic-addon1" required>
          </div>
          <div class="input-group">
              <span class="input-group-addon" id="basic-addon1"></span>
              <input name="password" type="password" ng-model="user.password" class="form-control" placeholder="Password" aria-describedby="basic-addon1" required>
          </div>
          <div class="btn-group right">
              <button type="submit" class="btn btn-default default-style">Login</button>
          </div>
      </form>
  </div>
</div>