@font-face {
    font-family: 'ABee';
    src:  url('/fonts/ABeeZee-Regular.ttf') format('truetype');
}

body {
    background: #0e9eca;
    font-size: 80%;
    padding: 20px;
    font-family: 'ABee';
    word-spacing: normal;
}

/* login */
.box-center {
    background: white;
    max-width: 500px;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    padding: 5%;
    margin: 2%;
}

.box-center h3 {
    text-align: center;
    width: auto;
    height: 1%;
}

.box-center .input-group {
    position: relative;
    margin: 5px;
    align-items: center;
}

.btn-group, .default-style {
    color: green;
}

.btn-group, .right {
    float: right;
}

input.ng-invalid.ng-touched {
    border-color: red;
}

/* dashboard */
.side-nav {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.side-nav, nav {
    font-size: 20px;
}

/* if screen size is small remove bottom margin from side nav */
@media screen and (min-width: 800px) {
    .side-nav .nav>li:last-child {
        margin-bottom: 100px;
    }
}
@media screen and (max-width: 800px) {
    .new-book .btn {
        float: none !important;
        width: 80%;
    }
    .new-book {
        text-align: center;
    }
    .content-title {
        display: none;
    }
    .content-search {
        /* width: 80% !important; */
        text-align: center !important;
    }
}

.btn .signout {
    margin: 10px;
}

.new-book .btn {
    margin: 5px;
    float: right;   
}

.btn.right {
    margin: 10px;
    float: right;
}

.right {
    float: right;
}

.main-content {
    position: relative;
    padding-left: 5px;
    border-radius: 5px;
    padding-right: 5px;
}

.main-content .book {
    background-color: white;
    min-height: 500px;
    padding-left: 5px;
    border-radius: 5px;
}

.content-search {
    margin-top: 10px;
}

.content-table {
    overflow-x: auto;
}

.table {
    font-size: 20px;
}

/* add book popup */
.content-popup {
    background-color: white;
    padding: 10px;
}
.content-popup>form>div>div {
    padding-bottom: 20px;
}

.form-label {
    font-size: 20px;
}

.text-normal {
    font-size: 20px;
    padding: 30px 30px;
    line-height: 28px;
}

.addbtn {
    font-size: 20px;
    padding: 20px;
}